.how-to-play {
    .how-to-play__title {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .how-to-play__list {
        list-style-type: disc;
        margin-left: 24px;

    .how-to-play__item {
        margin-bottom: 8px;
        }
    }
}